.div-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-create {
  font-size: 125%;
  line-height: 1.5;
  padding: 0.3em 0.8em;
  color: white;
  border: 1px solid#446d88;
  border-radius: 0.2em;
  background: rgb(85, 170, 111) linear-gradient(#77bb91, rgb(85, 170, 89));
  box-shadow: 0 0.05em 0.25em gray;
  text-shadow: 0 -0.05em 0.05em #335166;
  margin: 0em;
  cursor: pointer;
}

.button-back {
  font-size: 125%;
  line-height: 1.5;
  padding: 0.3em 0.8em;
  color: white;
  border: 1px solid#446d88;
  border-radius: 0.2em;
  background: rgb(107, 138, 82) linear-gradient(#77a0bb, #58a);
  box-shadow: 0 0.05em 0.25em gray;
  text-shadow: 0 -0.05em 0.05em #335166;
  margin: 2em;
  cursor: pointer;
}

.errors {
  color: rgb(92, 7, 7);
  font-size: 15px;
}

.inputs {
  padding-top: 10px;
}
